/**{border:1px solid grey}*/
*{font-style: normal;}
*{font-family: Verdana, Geneva, Tahoma, sans-serif;}
*{color: blueviolet;}
*{background-color: #cbc3e3;}

header{
    display: flex;
    justify-content: space-between;
}

h2{
    justify-content: center;
}

/*div{
    padding: 5%;
    max-width: 95%;
}*/

P.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.socialicons{
    display: flex;
    justify-content: space-around;
}

.socialicons img{
    width: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    max-width: 95%;
    background-color: white;
}
.bright{
    background-color:white;
}

#section-3{
    height:50%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    max-width: 95%;
} 
    
/*.portfolio{
        background-color:white;
        max-width: 95%;
}*/
    
#section-portfolio{
    height:50%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    max-width: 95%;
}

.form-item{
    max-height: 70%;
    max-width: 70%;
    justify-content: center;
    display: flex;
    background-color: burlywood;
} 



@media (min-width: 500px) {
    div {
        display: table-cell;
    /* some styles */ 
}

@media (max-width: 500px) {
    div {
        display: flex;
        justify-content: space-between;

    }
    /* some styles */
   
}