*{border:1px solid grey}
*{font-style: normal;}
*{font: roboto;}
*{background-color: #cbc3e3;}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    justify-content: center;
}

.socialicons{
    display: flex;
    justify-content: space-around;
}

.socialicons img{
    width: 40px;
}

.portfoliosampler{
    max-width: 95%;
}

.form action{
    justify-content: center;
}